.box_float{
    /**you can use overflow auto or display flowroot*/
    display: flow-root;
    max-width: 700px;
    background-color: bisque;
    border: 2px solid grey;
    padding: 0 1em;
    margin: 2em;
}
.flying{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    float: left;
    margin-right: 1rem;
}
.columns{
    columns: 4 250px;
    max-width: 1000px;
    margin: 2em;
    /*thêm gạch giữa các hàng*/
    column-rule: 3px dashed #333;
    column-gap: 3em;

}
.columns .no_wrap{
    
    font-size: 3rem;
    white-space: nowrap;
}
.columns h1{
    column-span: all;
    text-align: center;
}