*{
    margin: 0;
    padding: 0;
}
:root{
    --btn_size:30px;
    --menu1_size: 30vh;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 0 5vw;
}
.header__menu_area{
    width: var(--btn_size);
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;

}

.header__button{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    height: var(--btn_size);
    width: calc(1.3*var(--btn_size));
    background-color: black;
}

.header__button div{
    background-color: azure;
    height: 15%;
    width: 80%;
    border-radius: 2px;
}

:is(.header__menu_area:hover, .header__menu_area:focus-within) .header__ul{
    display:flex;
} 

.header__ul{
    display: none;
    flex-flow: column nowrap;
    list-style-type: none;
    width: var(--menu1_size);
    background-color: black;
    animation: show_menu 0.1s ease-in-out forwards;
}

.header__ul a{
    display: block;
    text-align: center;
    padding: 0.5rem;
}

.header__ul a:any-link{
    color: white;
    text-decoration: none;
}

.header__ul a:hover{
    transform: scale(1.2);
    transition: all 0.3s;
}
@keyframes show_menu {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
    
}