*{
    font-family: sans-serif;
}
h1{
    text-align: center;
    background-color: rgb(223, 123, 9);
    background: linear-gradient(60deg,pink,salmon,darksalmon);
    border-radius: 10px;
    padding: 0 0 0 0;

}
img{
    width: 150px;
    height: 150px;
}
body{
    /*basic color is 
    background-color: rgb(74, 241, 227);
    */
    background: linear-gradient(45deg,rgb(214, 138, 71), rgb(253, 225, 189));
}
.text1{
    /**với đơn vị là rem thì là 16px, 2rem = 32px
    **NHƯNG, em thì là emplifier tức là cấp số nhân, use with caution
    */

    font-size: 20px;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.item{
    /** margin auto là sẽ tự căn vào giữa
    **border-radius là độ tròn các góc với đường kính đơn vị px*/
    width: 100px;
    font-size: 10px;
    margin: 10px;
    padding: 10px;
}

.grid_container{
    display: grid;
    grid-template: repeat(6, 100px) / repeat(6, 100px);
    gap: 5px;
    /*grid-template-rows: 50px 50px 50px;*/
    background-color: rgb(228, 151, 83);
    /*border: 1px dashed rgb(9, 37, 88);*/
}
.grid_item{
    background-color: aquamarine;
    color: black;
}
.grid_container .grid_item1{
    display: grid;
    background-color: rgb(208, 219, 54);
    place-content: center;
}
.grid_item1{
    grid-row: span 3;
    
    grid-column: span 3;
}
/** gạch dưới, gạch trên, gạch chữ is here
** in hoa chữ đầu, in hoa toàn bộ, in thường toàn bộ thì với lệnh 2
** lệnh 3 giúp cách đầu lề?
** lệnh 4 giúp cách dòng
/**lệnh 5 như tên*/         /** lệnh word-spacing như 5 nhưng là từng từ*/
/**lệnh 6 size chữ*/


.text_adjust1{
    text-decoration: underline;
    text-transform:uppercase;
    text-indent: 4rem;
    line-height: 1.5;
    letter-spacing: 1em;
    font-size: 3rem;
}
a{
    /** link can be used like text adjust, they just have differ default setting*/
    text-decoration:  none;
    cursor:not-allowed;
    color: aqua;
}
a:visited{
    /**link that you have visitied*/ 
    color: purple;
}
a:hover{
    /**link that you hover mouse*/
    color:dodgerblue;
    opacity: 0.6;
}
a:active{
    /**link thats running*/
    color: red;
}
ol{
    /** loai danh sach*/
    list-style-type: lower-alpha;
}
/** để tìm class trong class thì chỉ cần dùng: 
h1 h2{}
**còn để định dạng cả 2 thì:
h1, h2{}*/
/**setting filter*/
/*note that filter can be used as: filter: blur() saturate();*/
.nutmo{
    filter: blur(1px);
}
.nutxam{
    filter: grayscale(100%);
}
.domo2{
    filter: opacity(20%);
}
.dosang{
    filter: brightness(20%);
}
.domau{
    filter: saturate(50%);
}
.sangtoi{
    filter: contrast(500%);
}
